- @trucks.in_groups_of(3).each do |truck_group|
  .row.spacing-top
    - truck_group.each do |truck|
      - if truck
        .col-md-1
        .col-md-2.truck-summary
          = link_to "#{image_tag('truck-placeholder.png')}".html_safe, truck
          .col-md-12
            %h3 #{ truck.plate_number }
            %hr
        .col-md-1
