= render partial: 'partials/cover_board_route', locals: { resource: @route }

/ .row
/   .col-md-6.col-md-offset-3.lightgrey
/     %hr
/     %h3 Videos:
/     - @truck.youtube_links.in_groups_of(5).each do |link_group|
/       .spacing-top
/         - link_group.each do |link|
/           - if link
/             .col-sm-2.spacing-top
/               = link_to "#{image_tag get_youtube_thumbnail(link.url)}".html_safe, link.url

.row
  .col-md-6.col-md-offset-3.lightgrey
    %hr
    .col-md-offset-5
